<div class="container align-center">
    <h1>My Stories</h1>
    <div class="align-center box alt">
        <div class="row gtr-uniform">
            <section class="col-6 col-4-large ">
                <blockquote class="align-left">
                    <header>
                        <h1>Test</h1>
                        <h3>And ofc a description</h3>
                    </header>
                    
                </blockquote>
            </section>



            <section class="col-6 col-4-large ">
                <blockquote>
                    <h1>Test</h1>
                    
                    <h3>And ofc a description</h3>
                </blockquote>
            </section>
            <section class="col-6 col-4-large ">
                <blockquote>
                    <h1>Test</h1>
                    <h3>And ofc a description</h3>
                </blockquote>
            </section>
            <section class="col-6 col-4-large ">
                <blockquote>
                    <h1>Test</h1>
                    <h3>And ofc a description</h3>
                </blockquote>
            </section>
            <section class="col-6 col-4-large ">
                <blockquote>
                    <h1>Test</h1>
                    <h3>And ofc a description</h3>
                </blockquote>
            </section>
            <section class="col-6 col-4-large ">
                <blockquote>
                    <h1>Test</h1>
                    <h3>And ofc a description</h3>
                </blockquote>
            </section>
            
        </div>
    </div>

</div>