<div>
    <section id="banner">
        <div class="content">
            <header>
                <h2>The future is Justice's Website <br> This is section1 (choose 1 color)</h2>
                <p>You know what would look sick as the background for the banner? <br> A silent video highlight reel! <br> and of course we change the colors around and def put ur pfp here >>>></p>
            </header>
            <span class="image"><img src="assets/img//pic01.jpg" alt="" /></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
    </section>
</div>