<div>
    <section id="five" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>And Ive been thinking...</h2>
                <p>I want to see you go far in life, no bars holding, revolutionary success coming your way. <br> 
                    I want you to go have as few bumps in the road as possible. So Im removing the $150 fee. Imma still charge $10 an update though. <br>
                This is my first business project so I gotta charge something. But u have serious potential. So lets get this ball rollin! </p>
            </header>
            <form method="post" action="#" class="cta">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Idk how to do emailing yet" /></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="But if u want it, Bet" class="fit primary" /></div>
                </div>
            </form>
        </div>
    </section>
</div>