<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--  So ur prob wondering why there se two css ref. Its bc when making sub-pages the reference point moves up a directory, so the "../" one is to support sub-pages  -->
    <link rel="stylesheet" href="assets/css/Cmain.css" />
    <noscript><link rel="stylesheet" href="assets/css/Cnoscript.css" /></noscript>

    <link rel="stylesheet" href="../assets/css/Cmain.css" />
    <noscript><link rel="stylesheet" href="../assets/css/Cnoscript.css" /></noscript>

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css.map" />

    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css.map"/>
</head>