<br>
<br>
<br>
<header class="major">
    <h2>Pic-only</h2>
    <p>This is a example page of how to organize projects when there are photos and videos</p>
</header>
<div class="col-12"><span class="image fit"><img src="../assets/img/pic07.jpg" alt="" /></span></div>
<hr>
<div class="box alt ">
    <div class="row gtr-50 gtr-uniform lbitpad-1 rbitpad-1 allignCenter">
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic02.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic02.jpg" alt="" /></span></a></div>
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic03.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></a></div>
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic03.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></a></div>
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic03.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></a></div>
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic03.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></a></div>
        <div class="col-2 col-3-xsmall"><a href="../assets/img/pic03.jpg" target="_blank"> <span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></a></div>
    </div>
</div> 

<p class="allignCenter bitpad-2">Justice is a member of the Youth As Resources Board of Directors, a performing artist with WombWork Productions and a communication specialist with Youth Rising Coalition. Justice is the owner and founder of Embrace My World Unlimited. Embrace My World Unlimited is a media storytelling social enterprise aimed to address issues impact people of color and produce and promote videos that encourage youth to think critically and take action.</p>
