<!DOCTYPE html>
<html lang="en">
    <body>

        {% include indi/head.html %}

        <div class="is-preload landing">
            <div class="page-wrapper">

                {% include indi/navbar.html %}
                
                {{ content }}
                
                {% include indi/footer.html %}

            </div>
        </div>

            <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
            
    </body>
</html>