<br>
<br>
<br>
<section>
    <div class="bitpad-3">
        <header class="major">
            <h2>About Justice Georgie</h2>
            <p>Justice Georgie is an artist who is passionate about giving back to his community.</p>
        </header>
       

        <div class="row gtr-uniform gtr-50">
            <div class="col-6 col-12-xsmall">
                <p>Justice is a member of the Youth As Resources Board of Directors, a performing artist with WombWork Productions and a communication specialist with Youth Rising Coalition. Justice is the owner and founder of Embrace My World Unlimited. Embrace My World Unlimited is a media storytelling social enterprise aimed to address issues impact people of color and produce and promote videos that encourage youth to think critically and take action.</p>
            </div>
            <div class="col-6 col-12-xsmall">
                <span class="image fit"><img src="../assets/img/pic07.jpg" alt="" /></span>
            </div>
        </div>

        
        <div class="lbitpad-7 rbitpad-7 tbitpad-3">
            <a href="#" class="button primary fit small">Access E-Card</a>
        </div>
        
    <hr>
        <div class="box alt">
            <div class="row gtr-50 gtr-uniform">
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic02.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic04.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic04.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic02.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic04.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic02.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic02.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic03.jpg" alt="" /></span></div>
                <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../assets/img/pic04.jpg" alt="" /></span></div>
            </div>
        </div>

    </div>
</section>


