<br>
<br>
<br>
<div>
    <header class="major">
        <h2>Elements</h2>
        <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
    </header>
    <div class="box alt p-5">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12"><span class="image fit"><img src="../assets/img/pic07.jpg" alt="" /></span></div>
            <div class=" col-6 col-5-large">
                <h3 class="">Justice Bio</h3>
                <p>Justice Georgie is an artist
                    who is passionate about
                    giving back to his
                    community. Justice is a
                    member of the Youth As
                    Resources Board of
                    Directors, a performing
                    artist with WombWork
                    Productions and a
                    communication specialist
                    with Youth Rising
                    Coalition. Justice is the
                    owner and founder of
                    Embrace My World
                    Unlimited. Embrace My
                    World is a media
                    storytelling social enterprise
                    aimed to address issues that
                    impact people of color and
                    produce and promote videos
                    that encourage youth to think
                    critically and take action.</p>
            </div>
            
            <div class="col-6 col-5-large">
                right
            </div>
    </div>
</div>