<div>
    <section id="five" class="wrapper style2 special fade">
        <div class="container">
            <header class="">
                <h2>Articles by Justice Georgie</h2>
            </header>
            <div class="align-center box alt">
                <div class="row gtr-uniform">
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
    
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
    
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
    
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
    
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
    
                    <section class="col-6 col-4-large ">
                        <blockquote >
                            <header>
                                <h1>Test</h1>
                                <h3 class="align-left">And ofc a description</h3>
                            </header>
                        </blockquote>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>


    