<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands  fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands  fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands  fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon brands  fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid  fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Embrace My World Unlimited. All rights reserved. <br> <br> 2021</li>
    </ul>
</footer>